@font-face {
  font-family: "Cutive Mono";
  src: local("Cutive Mono"), url(./fonts/CutiveMono-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), url(./fonts/segoeuil.ttf) format("ttf");
}
.App {
  min-height: 100vh;
}
body,
html {
  font-size: 14px;
  font-family: "Segoe UI";
}
